<p><i class="fa fa-copyright" aria-hidden="true"></i> 2021 Jelle Baele</p>
<p class="link"><a href="https://www.instagram.com/katlapaige/" target="_blank">
        <i class="fa fa-instagram" aria-hidden="true"></i>
        Instagram</a>
</p>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">