<div class="header">
    <div class="name">
        <h2>Katleen</h2>
        <h2 class="name-bottom">Lapaige</h2>
    </div>
    <div class="subtitle">
        <% if (subtitle) { %>
            <p>We don't see the things as they are,</p>
            <p>but as we are.</p>
        <% } %>
    </div>
    <h1 class="category-title"><%= typeof title !='undefined' ? title : '' %></h1>
</div>