* {
   padding: 0;
   margin: 0;
   border: 0;
   box-sizing: border-box;
}

:root {
   --scale: 1;
}

body {
  overflow: hidden;
}

.categories {
   padding-bottom: 70px;
}

.container-black-white {
   max-width: 90%;
   display: grid;
   margin: 0 auto 70px auto;
   grid-template-columns: 1fr 1fr 1fr;
   grid-gap: 3%;
   max-height: 30%;
}

.container-color {
   max-width: 90%;
   display: grid;
   margin: 0 auto 0 auto;
   grid-template-columns: 1fr 1fr 1fr;
   grid-gap: 3%;
   max-height: 30%;
}

.categories img {
   width: 100%;
   height: 100%;
}

.image-container {
   cursor: pointer;
   position: relative;
}

.image-container p {
   color: white;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   opacity: 0;
   transition: opacity 1s ease;
   font-size: 2vw;
   z-index: 2;
   text-align: center;
}

.image-container:hover > p {
   opacity: 1;
}

.fade::after {
   content: "";
   background: black;
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   opacity: 0;
   transition: opacity 0.5s ease;
}

.fade:hover::after {
   opacity: 0.5;
}
