<link rel="stylesheet" type="text/css" href="../css/popup/popup.css">

<div class="alert alert-warning hide-pop-up" id="popupWarning">
    <span>
        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
    </span>
    <span class="message">Warning: This is a warning alert!</span>
    <span class="close-button close-button-alert">
        <i class="fa fa-times" aria-hidden="true"></i>
    </span>
</div>

<div class="alert alert-success" id="popupSucces">
    <span>
        <i class="fa fa-check-circle" aria-hidden="true"></i>
    </span>
    <span class="message">Success! This is a success alert!</span>
    <span class="close-button close-button-success">
        <i class="fa fa-times" aria-hidden="true"></i>
    </span>
</div>