<link rel="stylesheet" type="text/css" href="../css/popup/popup.css">

<div class="alert alert-warning hide-pop-up" id="popupWarning">
    <div><i class="fa fa-check-circle" aria-hidden="true"></i></div>
    <div class="message-title">Success!</div>
    <div class="close-button close-button-warning">
        <i class="fa fa-times close-icon" aria-hidden="true"></i>
    </div>
</div>

<div class="alert alert-success hide-pop-up" id="popupSucces">
    <div><i class="fa fa-check-circle" aria-hidden="true"></i></div>
    <div class="message-title">Success!</div>
    <div class="close-button close-button-success">
        <i class="fa fa-times close-icon" aria-hidden="true"></i>
    </div>
</div>