* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --scale: 1;
}

body {
  overflow: hidden;
}

.categories {
  padding-bottom: 70px;
}

.gallery {
  margin: 0 auto 70px auto;
  max-width: 90%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1%;
}

.img-container {
  overflow: hidden;
  position: relative;
}

.fade::after {
  content: "";
  background: black;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.fade:hover::after {
  opacity: 0.5;
}

.img-container img {
  cursor: pointer;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-container .button-section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 1s ease;
  z-index: 2;
  text-align: center;
  display: flex;
  flex-direction: row;
}

.img-container:hover > .button-section {
  opacity: 1;
}

.container-button {
  cursor: pointer;
  font-size: 25px;
  padding: 5px 10px;
  border-radius: 10%;
  margin: 5px;
  transition: transform 0.5s ease-out;
}

.container-button:hover {
  transform: translateY(-3px);
}

.modal {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.25s ease-out;
}

.modal.open {
  opacity: 1;
  pointer-events: all;
}

.full-image {
  position: absolute;
  max-width: 90%;
  max-height: 80%;
  top: 50%;
  left: 50%;
  object-fit: contain;
  transform: translate(-50%, -50%) scale(0.5);
  transition: all 0.5s ease-out;
}

.full-image.open {
  transform: translate(-50%, -50%) scale(1);
}

@media screen and (max-width: 1300px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
  .container-button {
    font-size: 20px;
  }
}

@media screen and (max-width: 400px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
  .container-button {
    font-size: 15px;
  }
}