<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head', {tabTitle:'Katleen Lapaige'}); %>
        <link rel="stylesheet" type="text/css" href="../css/upload.css">
        <link rel="icon" href="../images/logo.jpg">
</head>

<body>

    <header>
        <link rel="stylesheet" type="text/css" href="../css/partials/header.css">
        <%- include('../partials/header', {title:"Upload foto\'s", subtitle: false}); %>
    </header>

    <main>
        <form id="uploadImagesForm" class="upload" enctype="multipart/form-data">
            <div class="field">
                <label for="category">Categorie:</label><br>
                <input id="inputTextCategory" type="text" name="category" value="Test" placeholder="Vul een categorie in">
                <span data-toggle='tooltip' title='Indien dit veld leeg is, wordt deze waarde "default"'>
                    <i class="fa fa-question-circle-o" aria-hidden="true"></i>
                </span>

            </div>
            <div id="selectedFilesField" class="field">
                <label for="selectedFilesTag">Kies één of meerdere bestanden:</label><br>
                <input class="file-button" type="file" name="selectedFilesTag" id="selectedFilesTag" multiple><br>
                <button class="button" type="button" id="uploadButton">Selecteer</button>
                <div class="selected-files">
                    Aantal bestanden:
                    <span id="fileNames"></span>
                </div>
            </div>
        </form>

        <section class="image-gallery">
            <div class="container">
                
            </div>
        </section>
    </main>
    <button id="submit" class="button submit-button">Submit</button>

    <footer>
        <link rel="stylesheet" href="../css/partials/footer.css">
        <%- include('../partials/footer'); %>
    </footer>
    <script async src="../js/UploadImages.js" type="module"></script>
</body>

</html>