<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head', {tabTitle:'Katleen Lapaige'}); %>
        <link rel="stylesheet" type="text/css" href="../css/upload.css">
        <link rel="icon" href="../images/logo.jpg">
</head>

<body>

    <header>
        <link rel="stylesheet" type="text/css" href="../css/partials/header.css">
        <%- include('../partials/header', {title:"Upload foto\'s", subtitle: false}); %>
    </header>

    <main>
        <div class="upload">
            <div class="field">
                <label for="category">Categorie:</label><br>
                <input id="inputText" type="text" name="category" placeholder="Vul een categorie in">
                <span data-toggle='tooltip' title='Indien dit veld leeg is, wordt deze waarde "default"'>
                    <i class="fa fa-question-circle-o" aria-hidden="true"></i>
                </span>

            </div>
            <div class="field">
                <label for="selectedFilesTag">Kies één of meerdere bestanden:</label><br>
                <input class="file-button" type="file" name="selectedFilesTag" id="selectedFilesTag" multiple><br>
                <button class="button" type="button" id="uploadButton">Selecteer</button>
                <div class="selected-files">
                    Aantal bestanden:
                    <span id="fileNames"></span>
                </div>
            </div>
        </div>

        <section class="image-gallery">
            <div class="container">
                <!--<div class="image-container fade" href="cat-minim.html">
                    <img src="../images/categories/cat-minimalisme.png" alt="">
                    <p class="container-text">
                        <button class="container-button">Edit</button>
                        <button class="container-button">
                            <i class="fa fa-times-circle" aria-hidden="true"></i>
                        </button>
                    </p>
                    <p class="img-title">Test</p>
                    <small><i>Size:</i></small>
                </div>-->
                <!--
                 <div class="image-container" href="cat-minim.html">
                    <img src="../images/categories/cat-minimalisme.png" alt="">
                    <p class="img-title">Test</p>
                    
                </div>

                <div class="image-container" href="cat-minim.html">
                    <img src="../images/categories/cat-minimalisme.png" alt="">
                    <p class="img-title">Test</p>
                </div>

                <div class="image-container" href="cat-minim.html">
                    <img src="../images/categories/cat-minimalisme.png" alt="">
                    <p class="img-title">Test</p>
                </div>

                <div class="image-container" href="cat-minim.html">
                    <img src="../images/categories/cat-minimalisme.png" alt="">
                    <p class="img-title">Test</p>
                </div>  -->
            </div>
        </section>

        <!--<section class="categories">
            <div class="container-black-white">
                <a class="image-container fade" href="cat-minim.html">
                    <img src="images/categories/cat-minimalisme.png" alt="">
                    <p class="p-text">Minimalism</p>
                </a>
                <a class="image-container fade">
                    <img src="images/categories/cat-abstract.png" alt="">
                    <p>Abstract</p>
                </a>
                <a class="image-container fade">
                    <img src="images/categories/cat-experimenteel.png" alt="">
                    <p>Experimental</p>
                </a>
            </div>
            <div class="container-color">
                <a class="image-container fade">
                    <img src="images/categories/cat-camera-painting.png" alt="">
                    <p>Camera Painting</p>
                </a>
            </div>
        </section>-->
    </main>
    <button id="submit" class="button submit-button">Submit</button>

    <footer>
        <link rel="stylesheet" href="../css/partials/footer.css">
        <%- include('../partials/footer'); %>
    </footer>
    <script async src="../js/UploadImages.js" type="module"></script>
</body>