* {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  font-family: "Space Grotesk", sans-serif;
  color: white;
  background: #f4f5f5;
  padding: 0;
  margin: 0;
}

.header {
  background: linear-gradient(
      to left,
      rgba(23, 23, 23, 0.6),
      rgba(23, 23, 23, 0.2)
    ),
    url("/images/header.png");
  background-size: cover;
  height: 250px;
  width: 90%;
  margin: 25px auto;
  position: relative;
}

.name {
  padding: 10px 0 0 20px;
  font-size: 20px;
}

.name-bottom {
  margin-left: 25px;
}

.subtitle {
  font-size: 15px;
  position: absolute;
  bottom: 10%;
  margin-left: 25px;
  margin-right: 20px;
  text-align: right;
  display: inline-block;
}

.category-title {
    position: absolute;
    right: 10%;
    top: 100px;
    font-weight: normal;
    font-size: 45px;
}

@media screen and (max-width: 735px) {
  .name {
    font-size: 15px;
  }
  .subtitle {
      font-size: 12px;
  }

  .category-title {
      right: 7.5%;
      font-size: 40px;
  }
}
