<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../partials/head', {tabTitle:'Katleen Lapaige'}); %>
        <link rel="stylesheet" type="text/css" href="../../../css/admin/category-editor.css">
        <link rel="icon" href="/images/logo.jpg">
</head>

<body>
    <%- include('../../preloader/preloader', { styleLink: '../../css/preloader/preloader.css' ,
        jsLink: '../../js/preloader/preloader.js' }); %>
        <header>
            <link rel="stylesheet" type="text/css" href="../../../css/partials/header.css">
            <%- include('../../partials/header', {title:categoryTitle, subtitle: false}); %>
        </header>
        <main>
            <section class="categories">
                <div class="gallery">
                    <div class="img-container">
                        <img src="\uploads\categories\Thumbnail\resized\cat-abstract.png"
                            data-original="\uploads\categories\Thumbnail\original\cat-abstract.png">
                    </div>

                    <div class="img-container">
                        <img src="\uploads\categories\Thumbnail\resized\cat-camera-painting.png"
                            data-original="\uploads\categories\Thumbnail\original\cat-camera-painting.png">
                    </div>

                    <div class="img-container">
                        <img src="\uploads\categories\Thumbnail\resized\cat-experimenteel.png"
                            data-original="\uploads\categories\Thumbnail\original\cat-camera-painting.png">
                    </div>
                    <div class="img-container">
                        <img src="\uploads\categories\Thumbnail\resized\cat-minimalisme.png"
                            data-original="\uploads\categories\Thumbnail\original\cat-minimalisme.png">
                    </div>
                </div>
            </section>
            <section class="modal">
                <img src="/uploads/categories/Thumbnail/original/cat-minimalisme.png" alt="" class="full-image">
                <p class="caption"></p>
            </section>
        </main>
        <footer>
            <link rel="stylesheet" href="../../../css/partials/footer.css">
            <%- include('../../partials/footer'); %>
        </footer>
        <script async src="../../js/admin/CategoryEditor.js" type="module"></script>
</body>

</html>