<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../partials/head.ejs', {tabTitle:'Katleen Lapaige'}); %>
        <link rel="stylesheet" type="text/css" href="../../css/admin/categories.css">
        <link rel="icon" href="../../images/logo.jpg">
</head>

<body>

    <header>
        <link rel="stylesheet" type="text/css" href="../../css/partials/header.css">
        <%- include('../../partials/header', {title:"Manage categories", subtitle: false}); %>
    </header>

    <main>
        <section class="overview-categories">
            <h2>Categoriën</h2>
            <div class="table">
                <table class="table-categories" cellspacing="0">
                    <thead>
                        <tr class="tr-head">
                            <th class="th-checkbox"><input class="table-checkbox" type="checkbox" id="selectAll"
                                    name="selectAll" value="all"></th>
                            <th class="th-name">Naam</th>
                            <th class="th-amount">Aantal foto's</th>
                            <th class="th-edit"></th>
                            <th class="th-delete"></th>
                        </tr>
                        <div class="add-items">
                            <button class="button-add-items"><i class="fa fa-plus" aria-hidden="true"></i>Voeg
                                toe</button>
                        </div>
                    </thead>
                    <tbody id="tableBody">
                        <tr class="tr-body">
                            <!-- <td class="td-checkbox"><input class="table-checkbox" type="checkbox"
                                    id="selectCategoryThumbnail" name="selectCategoryThumbnail"
                                    value="categoryThumbnail">
                            <td id="tdTableTitle">
                                <input class="td-title-input" type="text" value="Thumbnail">
                                <button id="" class="table-edit"><i class="fa fa-check" aria-hidden="true"></i></button>
                                <button class="table-edit"><i class="fa fa-times" aria-hidden="true"></i></button>
                            </td>
                            <td>12</td>
                            <td><button class="table-edit"><i class="fa fa-pencil" aria-hidden="true"></i></button></td>
                            <td>
                                <div class="table-delete-spacer"><button class="table-delete"><i class="fa fa-trash"
                                            aria-hidden="true"></i></button></div>
                            </td> -->
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>

    </main>

    <footer>
        <link rel="stylesheet" href="../css/partials/footer.css">
        <%- include('../../partials/footer'); %>
    </footer>
    <script async src="../../js/admin/Categories.js" type="module"></script>
</body>

</html>