* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* To be able to do this -> page needs to be responsive */
body {
  overflow-x: hidden;
}

.alert {
  padding: 10px 15px;
  width: 350px;
  max-width: 40%;
  position: fixed;
  top: 5px;
  right: 5px;
  z-index: 50;
  display: grid;
  grid-template-columns: auto 1fr auto;
  opacity: 0;
  pointer-events: none;
}

.alert-show {
  opacity: 1;
  pointer-events: all;
}

.alert-warning {
  background: #ffdb9b;
  border-left: 6px solid #ffa502;
  color: #ce8500;
}

.alert-success {
  background: #d4edda;
  border-left: 6px solid #155724;
  color: #155724;
}

.alert .fa-exclamation-circle,
.fa-check-circle {
  font-size: 20px !important;
  margin-right: 5px;
  align-self: flex-start;
}

.close-icon {
  color: inherit;
}

.alert .message-title {
  padding: 0 5px;
  align-self: center;
}

.alert .close-button {
  align-self: flex-start;
  cursor: pointer;
}
.alert .close-button-success:hover {
  color: #062c0e;
}

.alert .close-button-warning:hover {
  color: #8d5f0a;
}

.hide-alert {
  animation: hide-alert 1s ease forwards;
}

.show-alert {
  animation: show-alert 1s ease-in-out forwards;
}

@keyframes show-alert {
  0% {
    transform: translateX(100%);
  }

  50% {
    transform: translateX(-10%);
  }

  75% {
    transform: translateX(5%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes hide-alert {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(110%);
    pointer-events: none;
  }
}

@media screen and (max-width: 420px) {
  .alert {
    max-width: 90%;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
  }

  @keyframes show-alert {
    0% {
      transform: translateX(100%);
    }

    50% {
      transform: translateX(-60%);
    }

    75% {
      transform: translateX(-45%);
    }

    100% {
      transform: translateX(-50%);
    }
  }

  @keyframes hide-alert {
    0% {
      transform: translateX(-50%);
    }
    100% {
      transform: translateX(110%);
    }
  }
}
