<link rel="stylesheet" type="text/css" href="<%= styleLink %>">

<div class="preload">
    <div class="animation-container">
        <div class="square">
            <div class="line-horizontal"></div>
            <div class="line-vertical"></div>
        </div>
    </div>
</div>

<script src="<%= jsLink %>"> </script>